.checkout-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        text-align: center;
        font-size: 45px;
    }

    table {
        // border-collapse: collapse;
        width: 100%;
        border-spacing: 0 20px;
    }
    .total-price-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .total-price {
            font-size: 32px;
            margin-right: 50px;
            float: right;
        }
    }
    th {
        font-size: 20px;
        font-weight: 800;
        border-bottom: 1px solid gray;
        padding: 15px;
        text-align: center;
    }
    .empty-cart {
        text-align: center;
        width: 100%;
    }
    .go-shopping {
        display: block;
        color: rgb(0, 255, 85);
    }
}
