.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.pathing {
    font-size: 25px;
    font-style: italic;
    color: rgb(33, 33, 33);
}
